{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/checkCrea.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>Creative Ideation</title>
</head>
<body>
	<nav class="crea-nav">
		<a href="https://www.it.kmitl.ac.th/th/" target="_blank">
		  <img class="it-logo" src="{% static 'img/IT logo.svg' %}">
		</a>
		<div class="easybook-logo">
		  <a href="https://github.com/KhanunKup/PSCP-PROJECT-Y1" target="_blank" style="text-decoration: none;">
			<span style="color: #2255A4;">EASY</span><span style="color: #FE6612;">BOOK</span>
		  </a>
		</div>
	</nav>

	<div class="container">
		<button class="back-button"><a href = "index.html">BACK</a></button>
	</div>

    <div class="infor-form">
        <h1 class="head-text"><b>Check Available Rooms</b></h1>
    </div>
    <h1 class="creative-head">Creative Room</h1>
    <div class="table-infor">
        <table>
            <thead>
                <tr>
                    <th class="id-th">Student ID</th>
                    <th class="name-th">Name</th>
                    <th class="date-th">Date and time</th>
                </tr>
            </thead>
            <tbody>
                {%for creativereser in list_person %}
                <tr class="body-table">
                    <td>{{creativereser.student_id}}</td>
                    <td>{{creativereser.name}}</td>
                    <td>{{creativereser.event_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>